.btn-submit {
  transition: all 0.5s ease-in-out;
}

.btn-submit:hover {
  background-color: #b23a3a;
  color: white;
}

.btn-reset {
  transition: all 0.5s ease-in-out;
}

.btn-reset:hover {
  background-color: #b23a3a;
  color: white;
}
